/* 
	Everything style related
 */

* {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	
}

body{
	
	background-color:#FFCAC2;
	
}

h1 {
    color: #B88F8A;
}

.nav {
	position: fixed;
	text-align: center;
	top: 0;
	padding: 1rem;
	border-bottom: 1px solid white;
	width: 100%;
	background-color: #B88F8A;
	color: white;
		
}

.intro {
	margin-top: 55px;
	width: 80%;
	padding: 2rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;	
}

.content {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
	flex-wrap: wrap;
	align-items: center;
	
}


.example {
	margin-left: 1rem;
	margin-bottom: 1.5rem;
}

.example img:hover{
	transform: translateY(25px);
	
}

.example img:hover:before{
	opacity: 1;
	transform: translateY(0);
}

.example:before{
	
}

.example img {
	width: 300px;
	height: 300px;
	padding-bottom: .5rem;
	
}

.number {
	display: inline-block;
	margin: 0;
	font-size: 2rem;
}

.imageText
@media (max-width: 576px) {
	.example img {
		width: 250px;
	}
}